@media screen and (max-width: 767px) {
    #closeBtn {
        visibility: visible;
    }

    .managers_info_table {
        width: 100%;
        overflow-y: scroll;
    }

    .create_daily_service_container {
        flex-wrap: wrap;
        height: auto;
    }

    .create_manager_modal {
        max-height: 83vh;
        overflow: scroll;
    }

    .create_daily_service_left,
    .create_daily_service_right {
        width: 100%;
    }
    #dailyServiceTitle {
        flex-wrap: wrap;
    }
    #dailyServiceTable{
        flex-wrap: wrap;
    }
    #dailyServiceTable .add_manager_modal_div {
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .add_manager_modal_div{
        position: unset;
    }
    .createManager_all{
        flex-wrap: wrap;
        gap: 40px;
    }
}